
 .TempButton{
  background: white;
  font-family: consolas;
  font-weight: bold;
  font-size: 1.1em;
  height: 40px;
  width: 80px;
  margin: 10px 10px 10px 10px;
  padding: 2px 1px 2px 1px;
  border-radius: 0.4rem;
  background:mediumspringgreen;
}
.TempButton:hover{
  cursor: pointer;
  background: antiquewhite;
} 

 .App{
  font-family:'Lucida Sans'; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  justify-content: space-around;
  align-items: center;
  background:honeydew;
 }

 input{
  background:honeydew;
 }
 .App-header{
   min-height: 50px;
   border: 1px solid black;
   background-color: rgb(6, 128, 128);
   text-align: center;
   padding : 10px;
   color:oldlace; 
   font-family: consolas;
   font-style: normal;
   font-weight: bold;
   font-size: 2.5em;
 }

 .Input{
  min-height: 100px;
  background-color:lightgreen;
  min-width: 80vw;
 }

 #Simulate{
   min-height: 50px;
   border: 2px solid black;
   background-color:darkturquoise;
   min-width: 150px;
   font-size: 1.5em;
 }

 label{
  font-family: consolas;
  font-weight: bold;
  background: darkturquoise;
  font-size: 1.2em;
  margin : 10px;
  padding : 5px;
}
