/* .App{
  font-family:'Lucida Sans'; 
  display: grid;
  grid-template-rows: [row-start] 0.1fr [row-start] auto [row-start] auto [row-start] auto [row-start] 0.5fr [row-start] auto [row-end]; 
  grid-template-columns: [col-start] 0.1fr [col-start] 0.8fr [col-start] 0.1fr [col-end];
  margin: auto;
}


.App-header {
  grid-row-start: row-start 1;
  grid-row-end: row-start 2;
  grid-column-start: col-start 2;
  grid-column-end: col-start 3;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Input{
  grid-row-start: row-start 3;
  grid-row-end: row-start 4;
  grid-column-start: col-start 2;
  grid-column-end: col-start 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 #Simulate{
  grid-row-start: row-start 4;
  grid-row-end: row-start 5;
  grid-column-start: col-start 2;
  grid-column-end: col-start 3; 
 }
 
 .Tree{
   grid-row-start: row-start 5;
   grid-row-end: row-start 6;
   grid-column-start: col-start 2;
   grid-column-end: col-start 3;
   align-self: 'center';
   min-width: 90vh;
   min-height: 90vh;
   display: grid;
   grid-template-rows: [row-start2]auto [row-start2]0.9fr [row-start2]auto [row-end2];
  /* grid-template-columns: [col-start2] auto [col-start2] 0.8fr [col-start2] auto [col-end2]; 
 }

 .svg{
   height: 100%;
   width: 100%;
   /* grid-column-start: col-start2 2;
   grid-column-end: col-start2 3;  
   grid-row-start: row-start2 2;
   grid-row-end: row-start2 3;
   overflow: visible;
 }
 
 .App-logo {
   height: 40vmin;
   pointer-events: none;
 }
 
 
 */

 .TempButton{
  background: white;
  font-family: consolas;
  font-weight: bold;
  font-size: 1.1em;
  height: 40px;
  width: 80px;
  margin: 10px 10px 10px 10px;
  padding: 2px 1px 2px 1px;
  border-radius: 0.4rem;
  background:mediumspringgreen;
}
.TempButton:hover{
  cursor: pointer;
  background: antiquewhite;
} 

 .App{
  font-family:'Lucida Sans'; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  justify-content: space-around;
  align-items: center;
  background:honeydew;
 }

 input{
  background:honeydew;
 }
 .App-header{
   min-height: 50px;
   border: 1px solid black;
   background-color: rgb(6, 128, 128);
   text-align: center;
   padding : 10px;
   color:oldlace; 
   font-family: consolas;
   font-style: normal;
   font-weight: bold;
   font-size: 2.5em;
 }

 .Input{
  min-height: 100px;
  background-color:lightgreen;
  min-width: 80vw;
 }

 #Simulate{
   min-height: 50px;
   border: 2px solid black;
   background-color:darkturquoise;
   min-width: 150px;
   font-size: 1.5em;
 }

 
 .Tree{
    border: 3px solid black;
    min-height: 100vh;
    min-width: 80vw;
    height : 100vh;
    width : 80vw;
 }